body {
  padding-top: 50px; }

.navbar {
  font-family: 'Roboto', sans-serif; }

.Profile {
  background: #4BB748;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  padding-top: 10px; }

.MyQual {
  background: #474e5d;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFFFFF; }

.Repo {
  background: #E8AD0C;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFFFFF; }

.Resume {
  background: #E8640C;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFFFFF; }

.carousel {
  margin-bottom: 60px; }
