// Styling used for the various sections of the website
@mixin container($background) {
	background: $background;
	font-family: 'Roboto', sans-serif !important;
	font-size: 13px;
	height: 500px;
	color:#FFFFFF;
}



.navbar{
	
	border-radius: 0 !important;
	font-family: 'Roboto', sans-serif !important;
	
}

.Profile {
	@include container(#4BB748);
	margin-top:30px;
	padding-top: 10px;
}

.MyQual {
	@include container(#474e5d)
}

.PubRepo {
	@include container(#E8AD0C)
}

.Resume {
	@include container(#E8640C)
}

.Document {
	height:40px;
	width:60px;
}